<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сolorful posts</title>
</head>

<body>
	<script>
		window.__INITIAL_STATE__ = <%- JSON.stringify(data) -%>
	</script>
	<div id="root"><%- markup -%></div>
	<script type="text/javascript" src="/bundle.js"></script>
</body>

</html>