html {
	font-family: sans-serif;
}

body {
	background: #f7f7f7;
}

#root {
	width: 600px;
    margin: auto;
}

.posts {
	background: white;
    border: 1px solid #65768a;
    border-bottom: none;
}

.post {
	min-height: 102px;
	border-bottom: 1px solid #65768a;
}

.post-content {
	margin-left: 85px;
    position: relative;
    padding: 20px;
}

.new-post {
	min-height: 120px;
	border: 1px solid #65768a;
	margin-bottom: 20px;
	background: white;
}

.new-post-content {
	margin-left: 85px;
    position: relative;
    padding: 20px;
}

.new-post-textarea {
	resize: none;
	margin: 10px 0;
	width: 450px;
	height: 50px;
}

.avatar {
    width: 60px;
	height: 60px;
    position: absolute;
	left: -60px;
    border: 1px solid #65768a;
    border-radius: 50%;
}

.avatar-big {
	width: 120px;
    float: left;
    height: 120px;
	margin-right: 20px;
	border-right: 1px solid #65768a;
}

.avatar.orange, .avatar-big.orange {
	background: orange;
}

.avatar.white, .avatar-big.white {
	background: white;
}

.avatar.brown {
	background: brown;
}

.avatar-big.brown  {
	background-image: url(http://2.media.dorkly.cvcdn.com/36/86/0a47d1ca0a9a9bc0652e76491b72fb1a-mr-brown.jpg);
	background-size: cover;         
    background-repeat: no-repeat;
    background-position: center center;
}

.avatar.pink, .avatar-big.pink  {
	background: pink;
}

.avatar.blue, .avatar-big.blue {
	background: blue;
}

.name {
	margin-right: 10px;
}

.name-big {
	display: block;
	padding: 45px;
    font-size: 1.5rem;
}

.created {
	color: #657786;
}

.text {
	word-wrap: break-word;
	margin: 10px 0;
	white-space: pre-line;
	color: #14171a;
}

.user {
	min-height: 120px;
    border: 1px solid #65768a;
    margin-bottom: 20px;
    background: white;
}

.remove-btn {
	float: right;
}